@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ec4899;
}


@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.12);
  }
}

.zoom-animation {
  animation: slowZoom 8s ease-in-out infinite alternate;
  will-change: transform;
}


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');